*{
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    text-align: center;
}

header {
position: relative;
}
button{
    background-color: indigo;
    color: white;
    
}
button:hover{
    background: darkviolet;
}
ul{
    display: flex;
    padding: 10px;
}
li{
    background-color: indigo;
    color: white;
    border-radius: 5px;

}
ul li:hover{
    background: darkviolet;
}
